<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

## Contexto

**Descripción:**

SetMagic Productions es una empresa especializada en la provisión de servicios integrales para la realización de rodajes cinematográficos y audiovisuales. Nos dedicamos a facilitar tanto el atrezzo necesario para las producciones como los lugares idóneos para llevar a cabo los rodajes, ya sea en entornos al aire libre o en interiores.

**Servicios Ofrecidos:**

- **Atrezzo Creativo:** Contamos con un extenso catálogo de atrezzo que abarca desde accesorios hasta muebles y objetos temáticos para ambientar cualquier tipo de  escena.

- **Locaciones Únicas:** Nuestra empresa ofrece una amplia selección de locaciones, que incluyen desde escenarios naturales como playas, bosques y montañas, hasta espacios interiores como estudios, casas históricas y edificios emblemáticos.
- **Servicios de Producción:** Además de proporcionar atrezzo y locaciones, también ofrecemos servicios de producción audiovisual, incluyendo equipos de filmación, personal técnico y servicios de postproducción.

**Herramientas y Tecnologías:**

Para recopilar información sobre nuevas locaciones y tendencias en atrezzo, utilizamos herramientas de web scraping como Beautiful Soup y Selenium para extraer datos de sitios web relevantes y redes sociales especializadas en cine y producción audiovisual. También integramos APIs de plataformas de alquiler de locaciones y bases de datos de atrezzo para acceder a información actualizada y detallada.

**Almacenamiento de Datos:** (A trabajar la próxima semana)

La información recopilada mediante web scraping y APIs se almacenará tanto en una base de datos relacional SQL como en una base de datos no relacional MongoDB . Estas base de datos nos permite organizar eficientemente la información sobre locaciones, atrezzo, clientes y proyectos en curso, facilitando su acceso y gestión.

**Objetivo:**

Nuestro objetivo principal es proporcionar a nuestros clientes una experiencia fluida y personalizada en la búsqueda y selección de locaciones y atrezzo para sus proyectos audiovisuales. Utilizando tecnologías avanzadas y una amplia red de contactos en la industria, nos esforzamos por ofrecer soluciones creativas y de alta calidad que satisfagan las necesidades específicas de cada producción.


## Lab: Extracción de Información con Beautiful Soup

En este laboratorio seguirás enriqueciendo la base de datos para ofrecer a tus clientes un servicio más completo y personalizado. Para lograr esto, extraerás información valiosa sobre objetos de atrezzo de una web especializada. Utilizarás técnicas de web scraping con la biblioteca **Beautiful Soup** para obtener y organizar los datos de manera eficiente.

Trabajarás con la siguiente URL: [Atrezzo Vázquez](https://atrezzovazquez.es/shop.php?search_type=-1&search_terms=&limit=48&page=1). Esta página contiene una gran cantidad de objetos de atrezzo que pueden ser de interés para un proyecto de rodaje. Tu tarea será extraer información relevante de los productos listados en las primeras 100 páginas.

1. **Navegación y Extracción de Múltiples Páginas**:

   - La página web contiene varios elementos distribuidos en distintas páginas. Tu objetivo será iterar a través de las 100 primeras páginas y extraer la información deseada.

   - Debes asegurarte de que tu código sea capaz de navegar automáticamente por estas páginas y extraer datos de manera continua.

2. **Verificación del Código de Estado de la Respuesta**:

   - Antes de extraer cualquier información, es fundamental verificar que la solicitud a la página web ha sido exitosa. Un código de estado 200 indica que la página se ha cargado correctamente.

   - Si el código no es 200, debes imprimir un mensaje de error y detener la ejecución de la extracción para evitar problemas posteriores.

3. **Extracción de Información Específica**:

   De cada página, deberás extraer los siguientes detalles de los objetos de atrezzo:

   - **Nombre del Objeto**: El nombre o identificador del objeto.

   - **Categoría**: La categoría en la que se clasifica el objeto (ej.: mobiliario, decorado, utilería, etc.).

   - **Sección**: La sección específica dentro de la categoría.

   - **Descripción**: Una breve descripción del objeto que puede incluir detalles sobre su estilo, material o uso.

   - **Dimensiones**: El tamaño del objeto en formato (largo x ancho x alto).

   - **Enlace a la Imagen**: El link a la imagen del objeto, útil para tener una vista previa visual.

4. **Organización de los Datos en un Diccionario**:

   Una vez extraída la información, deberás organizarla en un diccionario con las siguientes claves:

   - `"nombre"`: Nombres del objeto.

   - `"categoria"`: Categoría a la que pertenece el objeto.

   - `"seccion"`: Sección específica dentro de la categoría.

   - `"descripcion"`: Breve descripción del objeto.

   - `"dimensiones"`: Dimensiones del objeto en el formato adecuado.

   - `"imagen"`: URL de la imagen del objeto.

5. **Almacenamiento de la Información en un DataFrame**:

   Una vez que tengas toda la información organizada en diccionarios, el siguiente paso es convertirla en un DataFrame de Pandas. Este DataFrame te permitirá manipular y analizar los datos con facilidad. Tu DataFrame debería verse similar al ejemplo proporcionado, donde cada fila representa un objeto diferente y cada columna contiene la información extraída:

![Dataframe](https://github.com/Hack-io-Data/Imagenes/blob/main/02-Imagenes/BS/df_atrezzo.png?raw=true)


6.  Consideraciones Adicionales:

- Asegúrate de manejar posibles errores o excepciones durante el scraping, como tiempos de espera agotados, páginas inaccesibles o datos faltantes.

- Recuerda que el scraping debe hacerse de manera respetuosa, evitando sobrecargar el servidor de la página web (puedes usar pausas entre solicitudes).

- Finalmente, asegúrate de almacenar el DataFrame en un archivo CSV para que puedas reutilizar esta información en análisis futuros.

In [89]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from tqdm import tqdm

1. **Navegación y Extracción de Múltiples Páginas**:

   - La página web contiene varios elementos distribuidos en distintas páginas. Tu objetivo será iterar a través de las 100 primeras páginas y extraer la información deseada.

   - Debes asegurarte de que tu código sea capaz de navegar automáticamente por estas páginas y extraer datos de manera continua.

In [9]:
paginas100 = list(range(1, 101))
paginas10 = list(range(1, 11))
url_atrezzo=f'https://atrezzovazquez.es/shop.php?search_type=-1&search_terms=&limit=48&page={paginas100}'

In [10]:
res_articulos=requests.get(url_atrezzo)
sopa_articulos=BeautifulSoup(res_articulos.content,'html.parser')
# sopa_articulos

In [13]:
listadesopas=[]
for pagina in paginas100:
    url_atrezzo = f'https://atrezzovazquez.es/shop.php?search_type=-1&search_terms=&limit=48&page={pagina}'
    res_atrezzo = requests.get(url_atrezzo)
    
    if res_atrezzo.status_code == 200:
        sopa_atrezzo = BeautifulSoup(res_atrezzo.content, 'html.parser')
        listadesopas.append(sopa_atrezzo)
    else:
        print(f"Error al acceder a la página {pagina}: {res_atrezzo.status_code}")

In [15]:
# listadesopas

100

2. **Verificación del Código de Estado de la Respuesta**:

   - Antes de extraer cualquier información, es fundamental verificar que la solicitud a la página web ha sido exitosa. Un código de estado 200 indica que la página se ha cargado correctamente.

   - Si el código no es 200, debes imprimir un mensaje de error y detener la ejecución de la extracción para evitar problemas posteriores.

In [17]:
url_atrezzo = f'https://atrezzovazquez.es/shop.php?search_type=-1&search_terms=&limit=48&page={pagina}'
res_atrezzo1 = requests.get(url_atrezzo)
sopa_atrezzo1 = BeautifulSoup(res_atrezzo1.content, 'html.parser')
print(res_atrezzo1.status_code)
# sopa_atrezzo1

200

3. **Extracción de Información Específica**:

De cada página, deberás extraer los siguientes detalles de los objetos de atrezzo:

- **Nombre del Objeto**: El nombre o identificador del objeto.

- **Categoría**: La categoría en la que se clasifica el objeto (ej.: mobiliario, decorado, utilería, etc.).

- **Sección**: La sección específica dentro de la categoría.

- **Descripción**: Una breve descripción del objeto que puede incluir detalles sobre su estilo, material o uso.

- **Dimensiones**: El tamaño del objeto en formato (largo x ancho x alto).

- **Enlace a la Imagen**: El link a la imagen del objeto, útil para tener una vista previa visual.

In [227]:
<div class="col-md-3 col-sm-4 shop-grid-item">

SyntaxError: invalid syntax (374298953.py, line 1)

In [106]:
def extraerinfopaginas(lista,indice,clase):
    listainfo=[]
    for sopa in lista:
        info=sopa.findAll(indice,{"class":clase})
        listainfo.append(info)
    listadebusquedas=[]
    for sopa in listainfo:
        for i in sopa:
            informaciones=[i.getText()]
            listadebusquedas.append(informaciones)
    listadebusquedas_df=pd.DataFrame(listadebusquedas)
    return listadebusquedas_df

def extraerinfopaginas1(lista,indice,clase):
    listainfo=[]
    for sopa in lista:
        info=sopa.findAll(indice,{"class":clase})
        listainfo.append(info)
    listadebusquedas=[]
    for sopa in listainfo:
        for i in sopa:
            informaciones=[i.getText()]
            listadebusquedas.append(informaciones)
    listadebusquedas_df=pd.DataFrame(listadebusquedas)
    return listadebusquedas_df

In [208]:
import re
def extraerimagenpaginas(lista,indice,clase):
    listainfo=[]
    for sopa in lista:
        info=sopa.findAll(indice,{"class":clase})
        listainfo.append(info)
    listadebusquedas=[]
    for sopa in listainfo:
        for i in sopa:
            i=str(i)
            link = re.search(r'src="([^"]+)"', i)
            listadebusquedas.append(link)
    listadebusquedas_df=pd.DataFrame(listadebusquedas)
    return listadebusquedas_df

- **Nombre del Objeto**: El nombre o identificador del objeto.

In [97]:
indicenombre='a'
clasenombre='title'
df_nombre=extraerinfopaginas(listadesopas,indicenombre,clasenombre)
df_nombre

          0
0      ALF1
1      ADO1
2      AFC1
3       AP1
4      AST1
...     ...
4795  TYV65
4796   PV65
4797   TP65
4798  PER65
4799  AFC65

[4800 rows x 1 columns]

- **Categoría**: La categoría en la que se clasifica el objeto (ej.: mobiliario, decorado, utilería, etc.).

In [226]:
indicecategoria='a'
clasecategoria='tag'
df_categoria=extraerinfopaginas(listadesopas,indicecategoria,clasecategoria)
df_categoria

                          0
0                  Alfombra
1                   Adornos
2          Alfombra de cama
3                  Aparador
4        Atrezzo astronomia
...                     ...
4786   Televisores y vídeos
4787            Pie de vela
4788  Tapices y estandartes
4789               Perchero
4790       Alfombra de cama

[4791 rows x 1 columns]



- **Sección**: La sección específica dentro de la categoría.

In [123]:
indiceseccion='div'
claseseccion='cat-sec-box'
df_seccion=extraerinfopaginas(listadesopas,indiceseccion,claseseccion)
df_seccion

                                      0
0                               Arabe
1
2                          Dormitorio
3                     Alemán  Comedor
4                          Astronomía
...                                 ...
4795                        Televisor
4796                       Candelabro
4797                            Salón
4798  Recibidor  Italiano  Dormitorio
4799                       Dormitorio

[4800 rows x 1 columns]


- **Descripción**: Una breve descripción del objeto que puede incluir detalles sobre su estilo, material o uso.

In [206]:
indicedescripcion='p'
clasedescripcion=''
df_descripcion=extraerinfopaginas(listadesopas,indicedescripcion,clasedescripcion)
condicion=df_descripcion[0]!=""
df_descripcion

                                                      0
0     Alfombra persa marrón (tiene unas manchas que ...
1                                   Vitrina con abanico
2                     Alfombrín de cama círculos azules
3                             Aparador alemán 2 cuerpos
4                         Pie de madera para astrolabio
...                                                 ...
4995  Tapiz bordado en terciopelo de una ciudad con ...
4996  Perchero de colgar italiano formica crema y bo...
4997                   Alfombrín de cama verde y flores
4998
4999

[5000 rows x 1 columns]

In [142]:
df_descripcion.iloc[48]

0
Name: 48, dtype: object

- **Dimensiones**: El tamaño del objeto en formato (largo x ancho x alto).

In [82]:
indicedimension='div'
clasedimension='price'
df_dimension=extraerinfopaginas(listadesopas,indicedimension,clasedimension)
df_dimension

                        0
0      \n460x340x1 (cm)\n
1      \n100x10x60 (cm)\n
2       \n150x72x1 (cm)\n
3     \n207x64x300 (cm)\n
4      \n78x78x130 (cm)\n
...                   ...
4795    \n62x46x43 (cm)\n
4796       \n0x0x0 (cm)\n
4797   \n180x5x122 (cm)\n
4798       \n1x1x1 (cm)\n
4799    \n120x60x1 (cm)\n

[4800 rows x 1 columns]

- **Enlace a la Imagen**: El link a la imagen del objeto, útil para tener una vista previa visual.

In [211]:
indiceimagen='div'
claseimagen='product-image'
df_imagen=extraerimagenpaginas(listadesopas,indiceimagen,claseimagen)

In [222]:
print(df_imagen.iloc[0,0])

<re.Match object; span=(39, 81), match='src="admin/img_prod/ALF1/ALF1-720x540.png"'>

In [166]:
# indiceimagen='img'
# claseimagen=''
# df_imagen=extraerimagenpaginas(listadesopas,indiceimagen,claseimagen)
# df_imagen

listainfo=[]
for sopa in listadesopas:
    info=sopa.findAll('div',{"class":"product-image"})
    listainfo.append(info)

listadebusquedas=[]
for sopa in listainfo:
    informaciones=[sopa.get('src')]
    listadebusquedas.append(informaciones)

listadebusquedas

AttributeError: ResultSet object has no attribute 'get'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [190]:
import re
sopa_prueba = listadesopas[0]
imagenes = sopa_prueba.findAll("div", {"class": "product-image"})
lista_imagenes = []
primera_imagen = imagenes[0]
primera_imagen=str(primera_imagen)
match = re.search(r'src="([^"]+)"', primera_imagen)
match.group(1)

'admin/img_prod/ALF1/ALF1-720x540.png'

4. **Organización de los Datos en un Diccionario**:

   Una vez extraída la información, deberás organizarla en un diccionario con las siguientes claves:

   - `"nombre"`: Nombres del objeto.

   - `"categoria"`: Categoría a la que pertenece el objeto.

   - `"seccion"`: Sección específica dentro de la categoría.

   - `"descripcion"`: Breve descripción del objeto.

   - `"dimensiones"`: Dimensiones del objeto en el formato adecuado.

   - `"imagen"`: URL de la imagen del objeto.

5. **Almacenamiento de la Información en un DataFrame**:

   Una vez que tengas toda la información organizada en diccionarios, el siguiente paso es convertirla en un DataFrame de Pandas. Este DataFrame te permitirá manipular y analizar los datos con facilidad. Tu DataFrame debería verse similar al ejemplo proporcionado, donde cada fila representa un objeto diferente y cada columna contiene la información extraída: